#maincontainer{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%
}

#memberContainer {
	width: 100%;
}

#imguser {

	width: 200px;
	height: 200px;
	border-radius: 130px;
}

#user {
	width:25%;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-top: 25px;
}

#userbio {
	text-align: center;

}


#name{
	text-align: center;
	font-style: italic;
	font-weight: 600;
}



#res {
	text-align: center;
}

#respon {
	margin-top: 10px;
	text-align: center;
	font-weight: 600;

}
#singletool {
	width:15%;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}

#imgtool {
	width: 90px;
	height: 90px;
}

#toolname {
	text-align: center;
	padding-bottom: 3px;
}


hr {
	border-top: 1px solid #eee;
}

body {
	width: 100%;

}

h4{
	font-weight: lighter;
}

a {
	 text-decoration:  none;
}