#memberContainer {
	width: 90%;
	padding-left: 10%;
}

#imguser {

	width: 200px;
	height: 200px;
	border-radius: 130px;
}

#user {
	width:25%;
	padding: 0;
	float: left;
	margin-right: 20px;
	margin-top: 10px;
}

#userbio {
	text-align: center;

}

#name{
	text-align: center;
	font-style: italic;
	font-weight: 600;
}

#responsabilities {
	margin-top: 3px;
}

#respon {
	margin-top: 5px;
	text-align: center;
	font-style: italic;
	font-weight: 600;

}


body {
	width: 100%;

}