body {
    background-color: #FFFFFF;
}
h1 {
    color: #9B6BDF;
	text-align: center;
	font-family: sans-serif;
}

li {
	float: left;
}

#about {
	float:right;
	border-left: 1px solid #E3E5FE;
}

#model {
	border-right: 1px solid #E3E5FE;
}
li a {
	display: block;
	color: #00405E;
	padding: 8px 16px;
	text-align: center;
	font-family: sans-serif;
}

li a.active {
	background-color: #6F78CA;
	color: white;
}

li a:hover {
	background-color: #545882;
	color:white;
}

p {
    color: #000000;
	font-family: sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #C3C7FF;
}