/* UNIVERSAL */

hr {
	border-top: 1px solid #eee;
}

h4{
	font-weight: lighter;
}

a {
	 text-decoration:  none;
}

/* USER INFORMATION */

.user {
	width:25%;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-top: 25px;
}

.imguser {
	width: 200px;
	height: 200px;
	border-radius: 130px;
}

.user p {
    text-align: center;
}

.user_name a {
	font-style: italic;
	font-weight: 600;
    color: black;
}

.respon {
	margin-top: 10px;
	text-align: center;
	font-weight: 600;
}


/* STATS AND TOOLS (CONTAINER) */

.section_container {
	margin-left: 20px;
	margin-right: 20px;
}


/* TOOLS */
#tools_list {
    list-style-type: none;
}

.single_tool {
	width:15%;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}

.single_tool p {
	text-align: center;
	padding-bottom: 3px;
}

.single_tool img {
	width: 90px;
	height: 90px;
}