<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>About Streamer Surf</title>

        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" type="text/css">
        
        <!-- Theme CSS -->
        <link href="../static/css/NavBar.css" rel="stylesheet">

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    </head>

    <body> 
        <!-- NAVIGATION BAR -->
    <ul id = "navbar">
        <li id = "nav"><a href ={{url_for('index')}}>Streamer Surf</a></li>
        <li id = "nav"><a href ={{url_for('streamers')}}>Streamers</a></li>
        <li id = "nav"><a href ={{url_for('games')}}>Games</a></li>
        <li id = "nav"><a href ={{url_for('genres')}}>Genres</a></li>
        <li id = "nav" style="float:right;"><a href = {{url_for('about')}}>About</a></li>
    </ul>
        
        <!-- BLANK SPACE -->
            <div id="top-div"></div>
                 
        <!-- TEAM SECTION -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 id="page-title">Fantastic Five</h2>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="team-member">
                                <img src="images/leo.jpeg" class="img-responsive img-circle usr-img" alt="">
                                <h4>Luis Sanchez</h4>
                                <p class="text-muted">I am senior Math major. I enjoy playing soccer, running, and watching Netflix.</p>
                                <h5>Major Responsibilities:</h5>
                                <p class="text-muted no-space">Genre Page Designs</p>
                                <p class="text-muted no-space">About Page (Phase I)</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="team-member">
                                <img src="images/jp.jpg" class="img-responsive img-circle" alt="">
                                <h4>Jean-Pierre Njock II</h4>
                                <p class="text-muted">I'm a senior Math major graduating this semester. In my free time I enjoy playing video games, watching Twitch, and watching/playing sports.</p>
                                <h5>Major Responsibilities:</h5>
                                <p class="text-muted no-space">Game Page Designs (Phase I/II)</p>
                                <p class="text-muted no-space">Model Page Designs (Phase II)</p>
                                <p class="text-muted no-space">Twitch API (Phase II)</p>
                                <p class="text-muted no-space">Model Diagrams(Phase I)</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="team-member">
                                <img src="images/AJ7H6272_8x10.jpg" class="img-responsive img-circle" alt="">
                                <h4>Nathan Caldwell</h4>
                                <p class="text-muted">I am a senior English major with professional experience in technical writing and Javascript. I like to play piano, listen to music, and hang out with friends.</p>
                                <h5>Major Responsibilities:</h5>
                                <p class="text-muted no-space">Streamer Page Designs (Phase I)</p>
                                <p class="text-muted no-space">About Page (Phase II)</p>
                                <p class="text-muted no-space">Technical Report</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-sm-offset-2">
                            <div class="team-member">
                                <img src="images/dingkun.jpg" class="img-responsive img-circle" alt="">
                                <h4>Dingkun Zhang</h4>
                                <p class="text-muted">Hey, I'm Ding and I'm a senior in Mechanical Engineering. I like cute girls and video games.</p>
                                <h5>Major Responsibilities:</h5>
                                <p class="text-muted no-space">Splash Page Designs</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="team-member">
                                <img src="images/jairo.png" class="img-responsive img-circle" alt="">
                                <h4>Jairo Portillo</h4>
                                <p class="text-muted">I am a senior Physics Major. I love Overwatch and teams that actually cooperate. Better shape up or ..... DIE! DIE! DIE!</p>
                                <h5>Major Responsibilities:</h5>
                                <p class="text-muted no-space">Model Page Designs (Phase I)</p>
                                <p class="text-muted no-space">Streamer Page Designs (Phase II)</p>
                            </div>
                        </div>
                    </div>
                </div>
            <section>
        
        <!-- STATS SECTION -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="section-heading">Stats</h2>
                            <hr/>
                        </div>
                    </div>
                    <div class="stats-item">
                        <h4>Commits</h4>
                        <p>Phase 1:  78</p>
                        <p>Phase 2:  164 (+86)</p>
                    </div>
                    <div class="stats-item">
                        <h4>Issues</h4>
                        <p>Phase 1:  22</p>
                        <p>Phase 2:  38 (+16)</p>
                    </div>
                    <div class="stats-item">
                        <h4>Links</h4>
                        <p>
                            <a href ="https://github.com/leosanchez16/cs329e-idb/issues"> GitHub Issue Tracker</a>  |  <a href="https://github.com/leosanchez16/cs329e-idb/">GitHub Repo</a>  |  <a href="https://github.com/leosanchez16/cs329e-idb/wiki">Github Wiki</a>
                        </p>
                    </div>
                </div>
            <section>
        
        <!-- TOOLS SECTION -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="section-heading">Tools</h2>
                            <hr/>
                        </div>
                    </div>
                    
                    <div class="row text-center">
                        <div class="col-md-3">
                            <div class="tools-item">
                                <img class="tools-img" src="images/github.png">
                                <h4 class="tools-heading">GitHub</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="tools-item">
                                <img class="tools-img" src="images/html5_shield.png">
                                <h4 class="tools-heading">HTML5</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="tools-item">
                                <img class="tools-img" src="images/css3.png">
                                <h4 class="tools-heading">CSS 3</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="tools-item">
                                <img class="tools-img" src="images/js_shield.png">
                                <h4 class="tools-heading">Javascript</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="tools-item">
                                <img class="tools-img" src="images/bootstrap_shiny.png">
                                <h4 class="tools-heading">Bootstrap</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="tools-item">
                                <img class="tools-img" src="images/slack.png">
                                <h4 class="tools-heading">Slack</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="tools-item">
                                <img class="tools-img" src="images/twitch.png">
                                <h4 class="tools-heading">Twitch API</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

    </body>