<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/css/IndexStyle.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>	
<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 0px;
    margin: auto;
	}
</style>
<title> Home </title>
</head>

<body>
	<ul id = "navbar">
		<li id = "nav"><a href ={{url_for('index')}}>Streamer Surf</a></li>
		<li id = "nav"><a href ={{url_for('streamers')}}>Streamers</a></li>
		<li id = "nav"><a href ={{url_for('games')}}>Games</a></li>
		<li id = "nav"><a href ={{url_for('genres')}}>Genres</a></li>
		<li id = "nav" style="float:right;"><a href = {{url_for('about')}}>About</a></li>
	</ul>
	<div class="tophalf">
		<div style ="float:right;overflow:hidden">
			<table align ="right">
				<p></p>
				<th style = "overflow:hidden",width = "0">Featured Games</th>
					<tr>
						<td><a href="games/fallout4.html">Fallout 4</a></td>
						<td width ="0"><a href="games/fallout4.html"><img src ="../static/images/games_images/fallout4_5.jpg", style= "width:60px;height:60px;">
					</tr>
					<tr>
						<td><a href="games/fifa.html">FIFA</a></td>
						<td width ="0"><a href="games/fifa.html"><img src ="../static/images/games_images/fifa_cover.jpg", style= "width:60px;height:60px;">
					</tr>
					<tr>
						<td><a href="games/halo5.html">Halo 5</a></td>
						<td width ="0"><a href="games/halo5.html"><img src ="../static/images/games_images/halo5_cover.jpg", style= "width:60px;height:60px;">
					</tr>
					<tr>
						<td width = "50"><a href="games/overwatch.html">Overwatch</a></td>
						<td width ="0"><a href="games/overwatch.html"><img src ="../static/images/games_images/overwatch.jpg", style= "width:60px;height:60px;">
					</tr>
					<tr>
						<td><p></p>
						</td>
					</tr>
					<th style = "overflow:hidden",width = "0">Featured Genres</th>
					<tr>
						<td width = "50"><a href="genres/rpg.html">RPG</a></td>
						<td width ="0"><a href="genres/rpg.html"><img src ="../static/images/genres_images/destiny.jpg", style= "width:60px;height:60px;">
					</tr>
					<tr>
						<td><a href="genres/shooter.html">Shooter</a></td>
						<td width ="0"><a href="genres/shooter.html"><img src ="../static/images/genres_images/blackops3.jpg", style= "width:60px;height:60px;">
					</tr>
					<tr>
						<td><a href="genres/sports.html">Sports</a></td>
						<td width ="0"><a href="genres/sports.html"><img src ="../static/images/genres_images/madden.jpg", style= "width:60px;height:60px;">
					</tr>
			</table>
		</div>
	<div class = "toplefthalf" id = "upcoming">
		<div style = "float:left;overflow:hidden">
		<table align ="left">
				<th style = "overflow:hidden",width = "0">Upcoming Games</th>
					<tr>
						<td><a href="https://www.dawnofwar.com/">Dawn of War 3</a></td>
						<td width ="0"><a href="https://www.dawnofwar.com/"><img src ="../static/images/games_images/DawnofWar.jpg", style= "width:60px;height:60px;">
					</tr>
					
					<tr>
						<td><a href="http://www.redbarrelsgames.com/games/outlast-2/">Outlast 2</a></td>
						<td width ="0"><a href="http://www.redbarrelsgames.com/games/outlast-2/"><img src ="../static/images/games_images/Outlast2.jpg", style= "width:60px;height:60px;">
					</tr>
					<tr>
						<td><a href="http://sniperghostwarrior3.com/">Sniper 3 Ghost Warrior</a></td>
						<td width ="0"><a href="http://sniperghostwarrior3.com/"><img src ="../static/images/games_images/Sniper-Ghost-Warrior-3.jpg", style= "width:60px;height:60px;">
					</tr>
					<tr>
						<td width = "50"><a href="http://www.playtonicgames.com/games/yooka-laylee/">Yooka-Laylee</a></td>
						<td width ="0"><a href="http://www.playtonicgames.com/games/yooka-laylee/"><img src ="../static/images/games_images/yooka.jpg", style= "width:60px;height:60px;">
					</tr>
					<tr>
						<td><p></p>
						</td>
					</tr>
				<th style = "overflow:hidden",width = "0">Upcoming Events</th>
					<tr>
						<td><p>6/11</p></td>
						<td><a href="https://www.e3expo.com/home"><span id ="event">E3 Expo</span></a></td>
					</tr>
					
					<tr>
						<td><p>6/14</p></td>
						<td><a href="http://dreamhack.se/dhs14/"><span id ="event">Dreamhack Summer</span></a></td>
					</tr>
					<tr>
						<td><p>7/18</p></td>
						<td><a href="http://www.dota2.com/international/announcement"><span id ="event">The International</span></a></td>
					</tr>
					<tr>
						<td><p>8/13</p></td>
						<td width = "50"><a href="http://www.gamescom-cologne.com/gamescom/index-9.php"><span id ="event">GamesCom</span></a></td>
					</tr>
					<tr>
						<td><p></p>
						</td>
					</tr>
			</table>
		</div>
		<div class="container">
	</div>
  <br>
  <div id="featured-stream">
  <h1 style="text-align:center"> Featured Streamers </h1>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" id="slide-size">
    <div class="item active">
		<div id="streamer"><p><b>Pokimane</b></p>
        <iframe
                src="https://player.twitch.tv/?channel=pokimane&muted=true&autoplay=false"
                height="345"
                width="460"
                frameborder="1"
                scrolling="yes"
                allowfullscreen="true">
            </iframe alt="Chania" width="460" height="345">
			<span id="streamer-info">Hey! My name's Imane but you can also call me Poki/Pokimane! I love playing League of Legends and connecting with others through Twitch. I play on the NA server and have 2 accounts in Diamond( account 1 & account 2 ). My stream is part gameplay, part mukbang, part Dr.Phil episode, and 100% centered around having a good time with my viewers ❤
			</span>
			</div>
		<div class="carousel-caption">
        </div>
    </div>

    <div class="item">
		<div id="streamer"><p><b>Zisteau</b></p>
        <iframe
                src="http://player.twitch.tv/?channel=zisteau&muted=true&autoplay=false"
                height="345"
                width="460"
                frameborder="1"
                scrolling="no"
                allowfullscreen="true">
            </iframe alt="Chania" width="460" height="345">
				<span id="streamer-info">Welcome! You somehow ended up here. I mostly play sandbox games like Minecraft, Terraria, Factorio, or role playing games like Elder Scrolls, Fallout, or Dark Souls. My main focus is Youtube at the moment but I still stream here on a semi-regular every once in a while basis.
				</span>
			</div>
		<div class="carousel-caption">
        </div>
    </div>

    <div class="item">
		<div id="streamer"><p><b>Nick28T</b></p>
        <iframe
                src="http://player.twitch.tv/?channel=nick28t&muted=true&autoplay=false"
                height="345"
                width="460"
                frameborder="1"
				autoplay="false"
                scrolling="no"
                allowfullscreen="true">
            </iframe alt="Flower" width="460" height="345">
			<span id="streamer-info">FIFA 17 ULTIMATE TEAM streamer. I also dabble in a few other games because I am such a variety streamer.
			</span>
			</div>
		<div class="carousel-caption">
        </div>
    </div>

    <div class="item">
		<div id="streamer"><p><b>Lxthul</b></p>
        <iframe id = "streamer"
                src="http://player.twitch.tv/?channel=lxthul&muted=true&autoplay=false"
                height="345"
                width="460"
                frameborder="1"
                scrolling="no"
                allowfullscreen="true">
            </iframe alt="Flower" width="460" height="345">
				<span id="streamer-info">Hello, I'm Tony (Tj) Campbell, I go by the alias Lethul in the competitive gaming world. Other names I go by are LxthuL (twitter and Twitch) and LethuL (Xbox Live.) I have won 13 Tournaments totaling over $340,000 dollars prize money.
				</span>
			</div>
		<div class="carousel-caption">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div>
</body>
</html>