<!DOCTYPE html>
<html>
<head>
	   <link rel="stylesheet" href="../static/css/ModelStyle.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script type="text/javascript" src="../static/js/dtable.js"></script>
    <script type="text/javascript" src="../static/js/dtable11.js"></script>
    <script type="text/javascript" src="../static/js/dtable2.js"></script>
    <link href="../static/css/NavBar.css" rel="stylesheet">

<title> Streamers </title>
</head>

<body>
	<ul id = "navbar">
        <li id = "nav"><a href ={{url_for('index')}}>Streamer Surf</a></li>
        <li id = "nav"><a href ={{url_for('streamers')}}>Streamers</a></li>
        <li id = "nav"><a href ={{url_for('games')}}>Games</a></li>
        <li id = "nav"><a href ={{url_for('genres')}}>Genres</a></li>
        <li id = "nav" style="float:right;"><a href = {{url_for('about')}}>About</a></li>
    </ul>
	

<center style="font-size: 400%;font-family: Poppins;font-weight: 900;margin-top: 20px;">Streamers</center>

  <div id = "tab" style="margin-top: 30px;font-family: sans-serif;max-width: 1200px;">
  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" >
        <thead>
            <tr>
    <th>Image</th>
    <th>Display Name</th>
    <th>Online/Offline</th> 
    <th>Game</th>
    <th>Number of Followers</th>
    <th>Language</th>
  </tr>

        </thead>
        
        <tbody>
  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/actrollvision-profile_image-d6c250f4bc88bbe1-300x300.jpeg" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_actrollvision')}}>ActrollVision</a></td>
    <td style = "font-weight:bold; color:{{color.actrollvision}}">{{status.actrollvision}}</td> 
    <td><a href = {{url_for('projectcars')}}>Project Cars</a></td>
    <td>10,459</td>
    <td>English</td>
  </tr>
  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/asmongold-profile_image-f7ddcbd0332f5d28-300x300.png" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_asmongold')}}>Asmongold</a></td>
    <td style = "font-weight:bold; color:{{color.asmongold}}">{{status.asmongold}}</td> 
    <td><a href = {{url_for('WoW')}}>World of Warcraft</a></td>
    <td>140,402</td>
    <td>English</td>
  </tr>
  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/curse-profile_image-58f4c42fbfdfb5f4-300x300.png" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_curse')}}>Curse</a></td>
    <td style = "font-weight:bold; color:{{color.curse}}">{{status.curse}}</td> 
    <td><a href = {{url_for('overwatch')}}>Overwatch</a></td>
    <td>27,201</td>
    <td>English</td>
  </tr>

  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/dontbesaad20-profile_image-36027e18e54f9806-300x300.png" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_dontbesaad20')}}>dontbesaad20</a></td>
    <td style = "font-weight:bold; color:{{color.dontbesaad20}}">{{status.dontbesaad20}}</td> 
    <td><a href = {{url_for('nhl17')}}>NHL</a></td>
    <td>19,627</td>
    <td>English</td>
  </tr>

  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/esl_sc2-profile_image-d6db9488cec97125-300x300.jpeg" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_esl_sc2')}}>ESL_SC2</a></td>
    <td style = "font-weight:bold; color:{{color.esl_sc2}}">{{status.esl_sc2}}</td> 
    <td><a href = {{url_for('starcraft')}}>Starcraft II</a></td>
    <td>150,930</td>
    <td>English</td>
  </tr>

  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/expertzone_community-profile_image-940222ccb431f96c-300x300.png" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_expertzone')}}>ExpertZone_Community</a></td>
    <td style = "font-weight:bold; color:{{color.expertzone}}">{{status.expertzone}}</td> 
    <td><a href = {{url_for('wwe2k17')}}>WWE 2K17</a></td>
    <td>18,648</td>
    <td>English</td>
  </tr>
 
  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/lxthul-profile_image-1dab2c8d587e72b3-300x300.jpeg" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_lxthul')}}>Lxthul</a></td>
    <td style = "font-weight:bold; color:{{color.lxthul}}">{{status.lxthul}}</td> 
    <td><a href = {{url_for('halo5')}}>Halo 5</a></td>
    <td>44,990</td>
    <td>English</td>
  </tr>
  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/nick28t-profile_image-4ea18513137e1c90-300x300.png" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_nick28t')}}>Nick28T</a></td>
    <td style = "font-weight:bold; color:{{color.nick28t}}">{{status.nick28t}}</td> 
    <td><a href = {{url_for('fifa17')}}>FIFA 17</a></td>
    <td>644,334</td>
    <td>English</td>
  </tr>
  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/wonderboyhalo-profile_image-6396dbefb83e7748-300x300.jpeg" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_wonderboyhalo')}}>WonderboyHalo</a></td>
    <td style = "font-weight:bold; color:{{color.wonderboyhalo}}">{{status.wonderboyhalo}}</td> 
    <td><a href = {{url_for('halo5')}}>Halo 5</a></td>
    <td>2,013</td>
    <td>English</td>
  </tr>
  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/zisteau-profile_image-dd410b4a5eb52a60-300x300.jpeg" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_zisteau')}}>Zisteau</a></td>
    <td style = "font-weight:bold; color:{{color.zisteau}}">{{status.zisteau}}</td> 
    <td><a href = {{url_for('fallout4')}}>Fallout 4</a></td>
    <td>47,122</td>
    <td>English</td>
  </tr>

  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/imaqtpie-profile_image-8efb10b7bed60d76-300x300.jpeg" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_imaqtpie')}}>Imaqtpie</a></td>
    <td style = "font-weight:bold; color:{{color.imaqtpie}}">{{status.imaqtpie}}</td>
    <td><a href = {{url_for('lol')}}>League of Legends</a></td>
    <td>1,638,136</td>
    <td>English</td>
  </tr>

  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/mob5tertv-profile_image-695ed5e0a42064bb-300x300.png" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_mob5stertv')}}>Mob5tertv</a></td>
    <td style = "font-weight:bold; color:{{color.mob5tertv}}">{{status.mob5tertv}}</td>
    <td><a href = {{url_for('forza')}}>Forza Horizon 3</a></td>
    <td>20,502</td>
    <td>Russian</td>
  </tr>

  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/nhfslickermo-profile_image-9aaef3fa5f8207eb-300x300.jpeg" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_nhfslickermo')}}>nhfslickermo</a></td>
    <td style = "font-weight:bold; color:{{color.nhfslickermo}}">{{status.nhfslickermo}}</td>
    <td><a href = {{url_for('mortal_kombat_x')}}>Mortal Kombat X</a></td>
    <td>2,467</td>
    <td>English</td>
  </tr>


  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/normaldifficulty-profile_image-d599d5a0e542cc57-300x300.png" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_NormalDifficulty')}}>NormalDifficulty</a></td>
    <td style = "font-weight:bold; color:{{color.normaldifficulty}}">{{status.normaldifficulty}}</td>
    <td><a href = {{url_for('overwatch')}}>Overwatch</a></td>
    <td>27,201</td>
    <td>English</td>
  </tr>
  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/foxrun402-profile_image-fc711fb1c0662753-300x300.png" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_foxrun402')}}>FoXRuN402</a></td>
    <td style = "font-weight:bold; color:{{color.foxrun402}}">{{status.foxrun402}}</td> 
    <td><a href = {{url_for('nfs')}}>Need For Speed</a></td>
    <td>44</td>
    <td>English</td>
  </tr>
  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/freakhopper-profile_image-0af2206d85977719-300x300.jpeg" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_freakhopper')}}>Freakhopper</a></td>
    <td style = "font-weight:bold; color:{{color.freakhopper}}">{{status.freakhopper}}</td>
    <td><a href = {{url_for('titanfall2')}}>Titanfall 2</a></td>
    <td>52,352</td>
    <td>English</td>
  </tr>
  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/frost_-profile_image-0b856b231bc6ae1e-300x300.png" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_frost')}}>Frost_</a></td>
    <td style = "font-weight:bold; color:{{color.frost}}">{{status.frost}}</td> 
    <td><a href = {{url_for('rust')}}>Rust</a></td>
    <td>12,792</td>
    <td>English</td>
  </tr>
  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/expertzone_community-profile_image-940222ccb431f96c-300x300.png" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_goldglove')}}>GoldGlove</a></td>
    <td style = "font-weight:bold; color:{{color.goldglove}}">{{status.goldglove}}</td> 
    <td><a href = {{url_for('rocketleague')}}>Rocket League</a></td>
    <td>1,212,042</td>
    <td>English</td>
  </tr>
  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/itsthekellys-profile_image-e15f845773dcc90c-300x300.jpeg" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_itsthekellys')}}>ItsTheKellys</a></td>
    <td style = "font-weight:bold; color:{{color.itsthekellys}}">{{status.itsthekellys}}</td> 
    <td><a href = {{url_for('witcher3')}}>The Witcher 3: Wild Hunt</a></td>
    <td>5,463</td>
    <td>English</td>
  </tr>
  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/jaysitty-profile_image-dee6275e6c672300-300x300.png" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_jaysitty')}}>jaysitty</a></td>
    <td style = "font-weight:bold; color:{{color.jaysitty}}">{{status.jaysitty}}</td> 
    <td><a href = {{url_for('dayz')}}>DayZ</a></td>
    <td>676</td>
    <td>English</td>
  </tr>
  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/lobosjr-profile_image-b5e3a6c3556aed54-300x300.png" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_lobosjr')}}>LobosJR</a></td>
    <td style = "font-weight:bold; color:{{color.lobosjr}}">{{status.lobosjr}}</td> 
    <td><a href = {{url_for('darksouls')}}>Dark Souls III</a></td>
    <td>205,124</td>
    <td>English</td>
  </tr>
  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/phillyboy7897-profile_image-bb3a6554c72cda2b-300x300.jpeg" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_phillyboy7897')}}>phillyboy7897</a></td>
    <td style = "font-weight:bold; color:{{color.phillyboy7897}}">{{status.phillyboy7897}}</td> 
    <td><a href = {{url_for('civ6')}}>Sid Meier's Civilization VI</a></td>
    <td>551</td>
    <td>English</td>
  </tr>
  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/prettyboyfredo-profile_image-2b2a8028e01cc60a-300x300.png" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_prettyboyfredo')}}>Prettyboyfredo</a></td>
    <td style = "font-weight:bold; color:{{color.prettyboyfredo}}">{{status.prettyboyfredo}}</td> 
    <td><a href = {{url_for('nba2k17')}}>Sid Meier's Civilization VI</a></td>
    <td>483,204</td>
    <td>English</td>
  </tr>
  <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/weiward-profile_image-74b712d5fc6dd161-300x300.png" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_weiward')}}>weiward</a></td>
    <td style = "font-weight:bold; color:{{color.weiward}}">{{status.weiward}}</td> 
    <td><a href = {{url_for('ffvii')}}>Final Fantasy VII</a></td>
    <td>585</td>
    <td>English</td>
  </tr>

    <tr>
    <td><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/pokimane-profile_image-6fd7b6c034a551b4-300x300.png" width="200" height="150"></td>
    <td><a href = {{url_for('streamer_pokimane')}}>Pokimane</a></td>
    <td style = "font-weight:bold; color:{{color.pokimane}}">{{status.pokimane}}</td> 
    <td><a href = {{url_for('lol')}}>League of Legends</a></td>
    <td>585</td>
    <td>English</td>
  </tr>



        </tbody>
    </table>
    <script type="text/javascript">
    $(document).ready(function() {
    $('#example').DataTable();
  } );

    </script>

  </div>
</body>
</html>