<!DOCTYPE html>
<html lang="en">
<head>
  <title>Frost_</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/streamer_instance_style.css">
  <link rel="stylesheet" href="../static/css/boot.css" type="text/css">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="../static/css/NavBar.css" rel="stylesheet">

</head>
    <body>
        <ul id = "navbar">
            <li id = "nav"><a href ={{url_for('index')}}>Streamer Surf</a></li>
            <li id = "nav"><a href ={{url_for('streamers')}}>Streamers</a></li>
            <li id = "nav"><a href ={{url_for('games')}}>Games</a></li>
            <li id = "nav"><a href ={{url_for('genres')}}>Genres</a></li>
            <li id = "nav" style="float:right;"><a href = {{url_for('about')}}>About</a></li>
        </ul>
        <div class = "container-fluid" style = "padding-top: 10px;">
      	    <table class = "table">        
                <tr>
                    <td style="border-top: none;">
                        <img id="propic" src="https://static-cdn.jtvnw.net/jtv_user_pictures/frost_-profile_image-0b856b231bc6ae1e-300x300.png">
                    </td>
                    <td style="border-top: none;"> 
                        <h1 id="banner heading">Frost_</h1>
                        <h2 id="banner_subheading">12,792 Followers</h2>
                        <table class = "table" id="streamer_tbl">
                            <tr>
                                <th class="item_lbl">Bio:</th>
                                <td style = "font-size: 16px;">WELCOME TO MY STREAM. Of all the frosts that stream Rust.. I am the best... for sure. My name is Cameron and I'm 18 years old living in Cali! I do all of this for fun! Make sure to check out my YouTube as well for the highlights! Hope you enjoy the stream! LETS FREAKIN GO!</td>
                            </tr>
                            <tr>
                                <th class="item_lbl">Preferred Genres:</th>
                                <td style = "font-size: 16px;">Adventure, <a href={{url_for('rpg')}}>Role-playing (RPG)</a></td>
                            </tr>                       
                        </table>
                   </td>                    
                </tr>
            </table>
        </div>

        <div class="new_section">
            <h3 id="Live Streams banner">Live Streams</h3>
            <hr>
            <div id="live_video">
                <iframe
                    src="http://player.twitch.tv/?channel=frost_&muted=true"
                    height="360"
                    width="640"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>
        
        <!-- PAST VIDEOS -->
        <div class="new_section">
            <h3 id="Past Videos banner">Past Videos</h3>
            <hr>
            <ul class="video_list">
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v136791026&autoplay=false"
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v136377833&autoplay=false" 
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v136130265&autoplay=false" 
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
            </ul>
            <br/ style="clear:both">
            <a href="https://www.twitch.tv/frost_/videos/all">and 20 more at Twitch.com...</a>
        </div>
        
        <!-- STREAMED GAMES -->
        <div class="new_section">
            <h3>Streamed Games</h3>
            <hr>
            <ul id="games_list">
                <li class="game_item">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <a href={{url_for('rust')}}>
                                    <img class="game_image" src="https://buypcgame.eu/2520/rust.jpg">
                                </a>
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line"><a href={{url_for('rust')}}>Rust</a></li>
                                    <li class="game_data_line">11 December, 2013</li>
                                    <li class="game_data_line">Mac, Linux, PC (Microsoft Windows)</li>
                                    <li class="game_data_line">Adventure, Indie, <a href={{url_for('rpg')}}>Role-playing (RPG)</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
            <br/ style="clear:both">
        </div>        
        <div id="space_at_bottom"></div>
    </body>
</html>