<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lxthul</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="streamer_instance_style.css">
  <link rel="stylesheet" href="boot.css" type="text/css">
  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="../static/css/NavBar.css" rel="stylesheet">
</head>
<body>
    <ul id = "navbar">
        <li id = "nav"><a href ={{url_for('index')}}>Streamer Surf</a></li>
        <li id = "nav"><a href ={{url_for('streamers')}}>Streamers</a></li>
        <li id = "nav"><a href ={{url_for('games')}}>Games</a></li>
        <li id = "nav"><a href ={{url_for('genres')}}>Genres</a></li>
        <li id = "nav" style="float:right;"><a href = {{url_for('about')}}>About</a></li>
    </ul>

  <div class = "container-fluid" style = "padding-top: 10px;">
  	<table class = "table ">        
        <tr>
            <td style="border-top: none;">
                    <img id="propic" src="https://static-cdn.jtvnw.net/jtv_user_pictures/lxthul-profile_image-1dab2c8d587e72b3-300x300.jpeg">
                </td>
                <td style="border-top: none;"> 
                    <h1 id="banner heading">Lxthul</h1>
                    <h2 id="banner_subheading">44,990 Followers</h2>
                    <table class = "table" id="streamer_tbl">
                        <tr>
                            <th class="item_lbl">Bio:</th>
                            <td style = "font-size: 16px;">Hello, I'm Tony (Tj) Campbell, I go by the alias Lethul in the competitive gaming world. Other names I go by are LxthuL (twitter and Twitch) and LethuL (Xbox Live.) I have won 13 Tournaments totaling over $340,000 dollars prize money.</td>
                        </tr>
                        <tr>
                            <th class="item_lbl">Preferred Genres:</th>
                            <td style = "font-size: 16px;"><a href="../genres/shooter.html">Shooter</a>, <a href="../genres/rpg.html">RPG</td></td>
                        </tr>
                        <tr>
                            <th class="item_lbl">Streaming Now?:</th>
                            <td style = "font-size: 16px;">[See stream below]</td>
                        </tr>
                    </table>
                                   </td>                    
            </tr>           
        </table>
  </div>
   <div class="new_section">
            <h3 id="Live Streams banner">Live Streams</h3>
            <hr>
            <div id="live_video">
                <iframe
                    src="http://player.twitch.tv/?channel=lxthul&muted=true"
                    height="360"
                    width="640"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>
        
        <!-- PAST VIDEOS -->
        <div class="new_section">
            <h3 id="Past Videos banner">Past Videos</h3>
            <hr>
            <ul class="video_list">
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v129656327&autoplay=false"
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v129419252&autoplay=false" 
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v129398618&autoplay=false" 
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
            </ul>
            <br/ style="clear:both">
            <a href="https://www.twitch.tv/lxthul/videos/all">and 108 more at Twitch.com...</a>
        </div>
        
        <!-- STREAMED GAMES -->
        <div class="new_section">
            <h3>Streamed Games</h3>
            <hr>
            <ul id="games_list">
                <li class="game_item">
                	<div class = "container-fluid">
                    <table class="game_item_table">
                        <tr>
                            <td>
                               <a href="../games/halo5.html">
                                    <img class="game_image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/rzjnrhuv5rozj52g9aq3.jpg">
                                </a>
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line"><a href="../games/halo5.html">Halo 5: Guardians</a></li>
                                    <li class="game_data_line">27th Oct, 2015</li>
                                    <li class="game_data_line">Xbox One</li>
                                    <li class="game_data_line"><a href="../genres/shooter.html">Shooter</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="game_item">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <a href = "../games/h1z1.html">
                                <img class="game_image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/kuwu7uppnixr5c5f7bz5.jpg">
                            </a>
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line"><a href = "../games/h1z1.html">H1Z1: King of the Hill<a></li>
                                    <li class="game_data_line">20th Sep, 2016</li>
                                    <li class="game_data_line">PC (Microsoft Windows)</li>
                                    <li class="game_data_line"><a href="../genres/rpg.html">Role-Playing (RPG)</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="game_item">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <img class="game_image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/wprikj6ydxigxadbt2ld.jpg">
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line">Resident Evil 7: biohazard</li>
                                    <li class="game_data_line">24th Jan, 2017</li>
                                    <li class="game_data_line">PlayStation4, Xbox One, PC (Microsoft Windows) </li>
                                    <li class="game_data_line">Adventure</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
            <br/ style="clear:both">
        </div>
        
        <div id="space_at_bottom"></div>




</body>
</html>