<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prettyboyfredo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/streamer_instance_style.css">
  <link rel="stylesheet" href="../static/css/boot.css" type="text/css">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="../static/css/NavBar.css" rel="stylesheet">

</head>
    <body>
        <ul id = "navbar">
            <li id = "nav"><a href ={{url_for('index')}}>Streamer Surf</a></li>
            <li id = "nav"><a href ={{url_for('streamers')}}>Streamers</a></li>
            <li id = "nav"><a href ={{url_for('games')}}>Games</a></li>
            <li id = "nav"><a href ={{url_for('genres')}}>Genres</a></li>
            <li id = "nav" style="float:right;"><a href = {{url_for('about')}}>About</a></li>
        </ul>
        <div class = "container-fluid" style = "padding-top: 10px;">
      	    <table class = "table">        
                <tr>
                    <td style="border-top: none;">
                        <img id="propic" src="https://static-cdn.jtvnw.net/jtv_user_pictures/prettyboyfredo-profile_image-2b2a8028e01cc60a-300x300.png">
                    </td>
                    <td style="border-top: none;"> 
                        <h1 id="banner heading">Prettyboyfredo</h1>
                        <h2 id="banner_subheading">483,204 Followers</h2>
                        <table class = "table" id="streamer_tbl">
                            <tr>
                                <th class="item_lbl">Bio:</th>
                                <td style = "font-size: 16px;">Youtuber : Prettyboyfredo. With over 2 MILLION Subscribers!!!! Subscribe to my Youtube channel for great videos https://www.youtube.com/user/prettyboyfredo</td>
                            </tr>
                            <tr>
                                <th class="item_lbl">Preferred Genres:</th>
                                <td style = "font-size: 16px;"><a href={{url_for('sports')}}>Sports</a>, <a href={{url_for('racing')}}>Racing</a>, Adventure, Simulator, <a href={{url_for('rpg')}}>Role-playing (RPG)</a></td>
                            </tr>                       
                        </table>
                   </td>                    
                </tr>           
            </table>
        </div>

        <div class="new_section">
            <h3 id="Live Streams banner">Live Streams</h3>
            <hr>
            <div id="live_video">
                <iframe
                    src="http://player.twitch.tv/?channel=prettyboyfredo&muted=true"
                    height="360"
                    width="640"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>
        
        <!-- PAST VIDEOS -->
        <div class="new_section">
            <h3 id="Past Videos banner">Past Videos</h3>
            <hr>
            <ul class="video_list">
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v136768525&autoplay=false"
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v135636826&autoplay=false" 
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v134482717&autoplay=false" 
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
            </ul>
            <br/ style="clear:both">
            <a href="https://www.twitch.tv/prettyboyfredo/videos/all">and 26 more at Twitch.com...</a>
        </div>
        
        <!-- STREAMED GAMES -->
        <div class="new_section">
            <h3>Streamed Games</h3>
            <hr>
            <ul id="games_list">
                <li class="game_item">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <a href={{url_for('nba2k17')}}>
                                    <img class="game_image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/tfebzciucanpvkzsq6ot.jpg">
                                </a>
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line"><a href={{url_for('nba2k17')}}>NBA 2K17</a></li>
                                    <li class="game_data_line">20th September, 2016</li>
                                    <li class="game_data_line">PlayStation 3, Xbox 360, PlayStation 4, Xbox One, PC (Microsoft Windows)</li>
                                    <li class="game_data_line"><a href={{url_for('sports')}}>Sports</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="game_item">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <img class="game_image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/vdzfsbissgp55fvfxccp.jpg">
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line">Grand Theft Auto V</li>
                                    <li class="game_data_line">17th September, 2013</li>
                                    <li class="game_data_line">PlayStation 3, Xbox 360, PlayStation 4, Xbox One, PC (Microsoft Windows)</li>
                                    <li class="game_data_line">Adventure, <a href={{url_for('racing')}}>Racing</a>, <a href={{url_for('shooter')}}>Shooter</a>, Simulator</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="game_item">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <img class="game_image" src="https://ubistatic19-a.akamaihd.net/ubicomstatic/en-US/global/game-info/FH-game_info-Boxart_Tablet_205060.jpg">
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line">For Honor</li>
                                    <li class="game_data_line">14th February, 2017</li>
                                    <li class="game_data_line">PlayStation 4, Xbox One, PC (Microsoft Windows)</li>
                                    <li class="game_data_line">Hack and slash/Beat 'em up</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
            <br/ style="clear:both">
        </div>        
        <div id="space_at_bottom"></div>
    </body>
</html>