<!DOCTYPE html>
<html lang="en">
<head>
  <title>ItsTheKellys</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/streamer_instance_style.css">
  <link rel="stylesheet" href="../static/css/boot.css" type="text/css">

  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="../static/css/NavBar.css" rel="stylesheet">

</head>
<body>
    <ul id = "navbar">
        <li id = "nav"><a href ={{url_for('index')}}>Streamer Surf</a></li>
        <li id = "nav"><a href ={{url_for('streamers')}}>Streamers</a></li>
        <li id = "nav"><a href ={{url_for('games')}}>Games</a></li>
        <li id = "nav"><a href ={{url_for('genres')}}>Genres</a></li>
        <li id = "nav" style="float:right;"><a href = {{url_for('about')}}>About</a></li>
    </ul>
  <div class = "container-fluid" style = "padding-top: 10px;">
  	<table class = "table">        
        <tr>
            <td style="border-top: none;">
                    <img id="propic" src="https://static-cdn.jtvnw.net/jtv_user_pictures/itsthekellys-profile_image-e15f845773dcc90c-300x300.jpeg">
                 </td>
                <td style="border-top: none;"> 
                    <h1 id="banner heading">ItsTheKellys</h1>
                    <h2 id="banner_subheading">5,463 Followers</h2>
                    <table class = "table" id="streamer_tbl">
                        <tr>
                            <th class="item_lbl">Bio:</th>
                            <td style = "font-size: 16px;">Welcome to my channel! You can call me Tina, Kelly or Kellys. I play a variety of games throughout the week starting at in the evenings EST and ending around 10:30pm! You can find me on twitter here. My business contact is itsthekellysontwitch@gmail.com. If you'd like to join the channel's discord, use !discord in chat to get an instant invite! Channel art was done by the glorious SamanthaJoanneArt. Emotes were made by the talented Nataera.</td>
                        </tr>
                        <tr>
                            <th class="item_lbl">Preferred Genres:</th>
                            <td style = "font-size: 16px;">Adventure, <a href={{url_for('rpg')}}>Role-playing (RPG)</a></td>
                        </tr>
                    </table>
               </td>                    
            </tr>           
        </table>
        
  </div>
   <div class="new_section">
            <h3 id="Live Streams banner">Live Streams</h3>
            <hr>
            <div id="live_video">
                <iframe
                    src="http://player.twitch.tv/?channel=itsthekellys&muted=true"
                    height="360"
                    width="640"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>
        
        <!-- PAST VIDEOS -->
        <div class="new_section">
            <h3 id="Past Videos banner">Past Videos</h3>
            <hr>
            <ul class="video_list">
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v136736167&autoplay=false"
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v136602791&autoplay=false" 
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v136602434&autoplay=false" 
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
            </ul>
            <br/ style="clear:both">
            <a href="https://www.twitch.tv/itsthekellys/videos/all">and 609 more at Twitch.com...</a>
        </div>
        
        <!-- STREAMED GAMES -->
        <div class="new_section">
            <h3>Streamed Games</h3>
            <hr>
            <ul id="games_list">
                <li class="game_item">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <a href={{url_for('witcher3')}}>
                                    <img class="game_image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/tri1c6vbydeosoqajwt1.jpg">
                                </a>
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line"><a href={{url_for('witcher3')}}>The Witcher 3: Wild Hunt</a></li>
                                    <li class="game_data_line">19th May, 2015</li>
                                    <li class="game_data_line">PlayStation 4, Xbox One, PC (Microsoft Windows)</li>
                                    <li class="game_data_line">Adventure, <a href={{url_for('rpg')}}>Role-playing (RPG)</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="game_item">
                	<div class = "container-fluid">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <img class="game_image" src="https://cdn.releases.com/img/image/9616bfee-8d9a-480a-879e-2002c021ad16.jpg/300">
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line">Hollow Knight</li>
                                    <li class="game_data_line">24th February, 2017</li>
                                    <li class="game_data_line">Mac, Linux, PC (Microsoft Windows), Nintendo Switch</li>
                                    <li class="game_data_line">Adventure, Hack and slash/Beat 'em up, Indie, Platform</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="game_item">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <img class="game_image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/fivw1ogfjw266t72kcn2.jpg">
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line">Bloodborne</li>
                                    <li class="game_data_line">24th March, 2015</li>
                                    <li class="game_data_line">PlayStation 4</li>
                                    <li class="game_data_line"><a href={{url_for('rpg')}}>Role-playing (RPG)</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
            <br/ style="clear:both">
        </div>
        
        <div id="space_at_bottom"></div>




</body>
</html>