<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nick28T</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/streamer_instance_style.css">
  <link rel="stylesheet" href="../static/css/boot.css" type="text/css">  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="../static/css/NavBar.css" rel="stylesheet">
</head>
<body>
    <ul id = "navbar">
        <li id = "nav"><a href ={{url_for('index')}}>Streamer Surf</a></li>
        <li id = "nav"><a href ={{url_for('streamers')}}>Streamers</a></li>
        <li id = "nav"><a href ={{url_for('games')}}>Games</a></li>
        <li id = "nav"><a href ={{url_for('genres')}}>Genres</a></li>
        <li id = "nav" style="float:right;"><a href = {{url_for('about')}}>About</a></li>
    </ul>

  <div class = "container-fluid" style = "padding-top: 10px;">
  	<table class = "table ">        
        <tr>
            <td style="border-top: none;">
                    <img id="propic" src="https://static-cdn.jtvnw.net/jtv_user_pictures/nick28t-profile_image-4ea18513137e1c90-300x300.png">
                </div>
                </td>
                <td style="border-top: none;">  
                    <h1 id="banner heading">Nick28T</h1>
                    <h2 id="banner_subheading">644,334 Followers</h2>
                    <table class = "table" id="streamer_tbl">
                        <tr>
                            <th class="item_lbl">Bio:</th>
                            <td style = "font-size: 16px;">FIFA 17 ULTIMATE TEAM streamer. I also dabble in a few other games because I am such a variety streamer</td>
                        </tr>
                        <tr>
                            <th class="item_lbl">Preferred Genres:</th>
                            <td style = "font-size: 16px;"><a href={{url_for('sports')}}>Sports</a>, <a href={{url_for('rpg')}}>Role-Playing (RPG)</a></td>
                        </tr>
                        <tr>
                            <th class="item_lbl">Streaming Now?:</th>
                            <td style = "font-size: 16px;">[See stream below]</td>
                        </tr>
                    </table>
                </td>                    
            </tr>           
        </table>
  </div>
   <div class="new_section">
            <h3 id="Live Streams banner">Live Streams</h3>
            <hr>
            <div id="live_video">
                <iframe
                    src="http://player.twitch.tv/?channel=nick28T&muted=true"
                    height="360"
                    width="640"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>
        
        <!-- PAST VIDEOS -->
        <div class="new_section">
            <h3 id="Past Videos banner">Past Videos</h3>
            <hr>
            <ul class="video_list">
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v129526884&autoplay=false"
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v129291360&autoplay=false" 
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v129075805&autoplay=false" 
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
            </ul>
            <br/ style="clear:both">
            <a href="https://www.twitch.tv/nick28T/videos/all">and 61 more at Twitch.com...</a>
        </div>
        
        <!-- STREAMED GAMES -->
        <div class="new_section">
            <h3>Streamed Games</h3>
            <hr>
            <ul id="games_list">
                <li class="game_item">
                	<div class = "container-fluid">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <a href={{url_for('fifa17')}}>
                                    <img class="game_image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/cmtplicvdajycqx2vz6t.jpg">
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line"><a href={{url_for('fifa17')}}>FIFA 17</a></li>
                                    <li class="game_data_line">27th Sep, 2016</li>
                                    <li class="game_data_line">PlayStation4, Xbox One, Xbox 360, PlayStation3, PC (Microsoft Windows)</li>
                                    <li class="game_data_line"><a href={{url_for('sports')}}>Sports</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="game_item">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <a href = {{url_for('h1z1')}}>
                                <img class="game_image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/kuwu7uppnixr5c5f7bz5.jpg">
                            </a>
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line"><a href = {{url_for('h1z1')}}>H1Z1: King of the Hill</a></li>
                                    <li class="game_data_line">20th Sep, 2016</li>
                                    <li class="game_data_line">PC (Microsoft Windows)</li>
                                    <li class="game_data_line"><a href={{url_for('rpg')}}>Role-Playing (RPG)</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="game_item">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <img class="game_image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/etn5hmoke3spyxmlhoty.jpg">
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line">Fifa 14</li>
                                    <li class="game_data_line">17th Sep, 2013</li>
                                    <li class="game_data_line">Android, PlayStation2, Wii, PlayStation3, PlayStation Portable, iOS, PlayStation Vita, Nintendo 3DS, Xbox 360, PlayStation4, Xbox One, PC (Microsoft Windows)</li>
                                    <li class="game_data_line"><a href={{url_for('sports')}}>Sports</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
            <br/ style="clear:both">
        </div>
        
        <div id="space_at_bottom"></div>




</body>
</html>