<!DOCTYPE html>
<html lang="en">
<head>
  <title>FoXRuN402</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/streamer_instance_style.css">
  <link rel="stylesheet" href="../static/css/boot.css" type="text/css">

  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="../static/css/NavBar.css" rel="stylesheet">

</head>
<body>
    <ul id = "navbar">
        <li id = "nav"><a href ={{url_for('index')}}>Streamer Surf</a></li>
        <li id = "nav"><a href ={{url_for('streamers')}}>Streamers</a></li>
        <li id = "nav"><a href ={{url_for('games')}}>Games</a></li>
        <li id = "nav"><a href ={{url_for('genres')}}>Genres</a></li>
        <li id = "nav" style="float:right;"><a href = {{url_for('about')}}>About</a></li>
    </ul>
  <div class = "container-fluid" style = "padding-top: 10px;">
  	<table class = "table">        
        <tr>
            <td style="border-top: none;">
                    <img id="propic" src="https://static-cdn.jtvnw.net/jtv_user_pictures/foxrun402-profile_image-fc711fb1c0662753-300x300.png">
                 </td>
                <td style="border-top: none;"> 
                    <h1 id="banner heading">FoXRuN402</h1>
                    <h2 id="banner_subheading">44 Followers</h2>
                    <table class = "table" id="streamer_tbl">
                        <tr>
                            <th class="item_lbl">Bio:</th>
                            <td style = "font-size: 16px;">Hello friends! I am Jonathan. I have been gaming for quite some time now and recently decided to share my experiences with all of you guys! I mainly play Action RPG titles, but do tend to get into some FPS as well. Games I mainly play: -- Elder Scrolls Online -- H1Z1 King of the Kill -- Diablo III - ROS ( Season only ) -- CS:GO -- Arma III -- The Hunter - Classic ( COTW on launch! ) I also get into horror games and love a good jump scare! Just got done with Outlast and Layers of Fear! If you have any questions just feel free to ask!</td>
                        </tr>
                        <tr>
                            <th class="item_lbl">Preferred Genres:</th>
                            <td style = "font-size: 16px;">Racing, <a href={{url_for('rpg')}}>Role-playing (RPG)</a>, Hack and slash/Beat 'em up, Indie</td>
                        </tr>
                    </table>
               </td>                    
            </tr>           
        </table>
        
  </div>
   <div class="new_section">
            <h3 id="Live Streams banner">Live Streams</h3>
            <hr>
            <div id="live_video">
                <iframe
                    src="http://player.twitch.tv/?channel=foxrun402&muted=true"
                    height="360"
                    width="640"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>
        
        <!-- PAST VIDEOS -->
        <div class="new_section">
            <h3 id="Past Videos banner">Past Videos</h3>
            <hr>
            <ul class="video_list">
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v136757275&autoplay=false"
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v136549166&autoplay=false" 
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v136527978&autoplay=false" 
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
            </ul>
            <br/ style="clear:both">
            <a href="https://www.twitch.tv/foxrun402/videos/all">and 4 more at Twitch.com...</a>
        </div>
        
        <!-- STREAMED GAMES -->
        <div class="new_section">
            <h3>Streamed Games</h3>
            <hr>
            <ul id="games_list">
                <li class="game_item">
                	<div class = "container-fluid">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <a href={{url_for('needforspeed')}}>
                                    <img class="game_image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/puyj56dxdl9laa2nbrue.jpg">
                                </a>
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line"><a href={{url_for('needforspeed')}}>Need for Speed</a></li>
                                    <li class="game_data_line">3rd November, 2015</li>
                                    <li class="game_data_line">PlayStation 4, Xbox One, PC (Microsoft Windows)</li>
                                    <li class="game_data_line">Racing</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="game_item">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <img class="game_image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/c9veizaftp8npcthrj2v.jpg">
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line">The Elder Scrolls Online</li>
                                    <li class="game_data_line">4th April, 2014</li>
                                    <li class="game_data_line">Mac, PlayStation 4, Xbox One, PC (Microsoft Windows)</li>
                                    <li class="game_data_line"><a href={{url_for('rpg')}}>Role-playing (RPG)</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="game_item">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <img class="game_image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/lehuswfsxzi2f3hyztyr.jpg">
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line">Path of Exile</li>
                                    <li class="game_data_line">23rd October, 2013</li>
                                    <li class="game_data_line">PC (Microsoft Windows)</li>
                                    <li class="game_data_line">Hack and slash/Beat 'em up, Indie, <a href={{url_for('rpg')}}>Role-playing (RPG)</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
            <br/ style="clear:both">
        </div>
        
        <div id="space_at_bottom"></div>




</body>
</html>