<!DOCTYPE html>
<html lang="en">
<head>
  <title>GoldGlove</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/streamer_instance_style.css">
  <link rel="stylesheet" href="../static/css/boot.css" type="text/css">

  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="../static/css/NavBar.css" rel="stylesheet">

</head>
<body>
    <ul id = "navbar">
        <li id = "nav"><a href ={{url_for('index')}}>Streamer Surf</a></li>
        <li id = "nav"><a href ={{url_for('streamers')}}>Streamers</a></li>
        <li id = "nav"><a href ={{url_for('games')}}>Games</a></li>
        <li id = "nav"><a href ={{url_for('genres')}}>Genres</a></li>
        <li id = "nav" style="float:right;"><a href = {{url_for('about')}}>About</a></li>
    </ul>
  <div class = "container-fluid" style = "padding-top: 10px;">
  	<table class = "table">        
        <tr>
            <td style="border-top: none;">
                    <img id="propic" src="https://static-cdn.jtvnw.net/jtv_user_pictures/expertzone_community-profile_image-940222ccb431f96c-300x300.png">
                 </td>
                <td style="border-top: none;"> 
                    <h1 id="banner heading">GoldGlove</h1>
                    <h2 id="banner_subheading">1,212,042 Followers</h2>
                    <table class = "table" id="streamer_tbl">
                        <tr>
                            <th class="item_lbl">Bio:</th>
                            <td style = "font-size: 16px;">Hey, what's up? My name is Brennon but most people on the interwebs call me Goldy. This is where I live stream! I play an assortment of games and I love interacting with my viewers. If you're new, stick around and watch a stream to get a taste of what they're like. If you enjoy, think about hitting that follow button so that you're notified every time I go live! Also, just a heads up. I really like butts. I attempt to spend just as much time making videos as I do streaming. If you miss any streams or want to check out the best parts, check out my YouTube videos! Go here! All streams & times are subject to change, life is crazy sometimes. Follow me on Twitter for updates.</td>
                        </tr>
                        <tr>
                            <th class="item_lbl">Preferred Genres:</th>
                            <td style = "font-size: 16px;"><a href={{url_for('sports')}}>Sports</a>, <a href={{url_for('shooter')}}>Shooter</a>, Indie, Racing</td>
                        </tr>
                    </table>
               </td>                    
            </tr>           
        </table>
        
  </div>
   <div class="new_section">
            <h3 id="Live Streams banner">Live Streams</h3>
            <hr>
            <div id="live_video">
                <iframe
                    src="http://player.twitch.tv/?channel=goldglove_community&muted=true"
                    height="360"
                    width="640"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true">
                </iframe>
            </div>
        </div>
        
        <!-- PAST VIDEOS -->
        <div class="new_section">
            <h3 id="Past Videos banner">Past Videos</h3>
            <hr>
            <ul class="video_list">
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v136734834&autoplay=false"
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v136366334&autoplay=false" 
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
                <li class="video_item">
                    <iframe 
                        src="https://player.twitch.tv/?video=v136145352&autoplay=false" 
                        width="400"
                        height="225"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </li>
            </ul>
            <br/ style="clear:both">
            <a href="https://www.twitch.tv/goldglove/videos/all">and 1,296 more at Twitch.com...</a>
        </div>
        
        <!-- STREAMED GAMES -->
        <div class="new_section">
            <h3>Streamed Games</h3>
            <hr>
            <ul id="games_list">
                <li class="game_item">
                	<div class = "container-fluid">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <img class="game_image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/hiz3rommafhka6yumbeo.jpg">
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line">MLB The Show 2017</li>
                                    <li class="game_data_line">28th March, 2017</li>
                                    <li class="game_data_line">PlayStation 4</li>
                                    <li class="game_data_line"><a href={{url_for('sports')}}>Sports</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="game_item">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <img class="game_image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/lvoic2oakbklg2dytgpa.jpg">
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line">PLAYERUNKNOWN'S BATTLEGROUNDS</li>
                                    <li class="game_data_line">2017</li>
                                    <li class="game_data_line">PC (Microsoft Windows)</li>
                                    <li class="game_data_line"><a href={{url_for('shooter')}}>Shooter</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="game_item">
                    <table class="game_item_table">
                        <tr>
                            <td>
                                <a href={{url_for('rocketleague')}}>
                                    <img class="game_image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/edkpgyqgfsxyiby9pyj5.jpg">
                                </a>
                            </td>
                            <td>
                                <ul class="game_info_table">
                                    <li class="game_data_line"><a href={{url_for('rocketleague')}}>Rocket League</a></li>
                                    <li class="game_data_line">7th July, 2015</li>
                                    <li class="game_data_line">PlayStation 4, Xbox One, PC (Microsoft Windows)</li>
                                    <li class="game_data_line">Indie, Racing, <a href={{url_for('sports')}}>Sports</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
            <br/ style="clear:both">
        </div>
        
        <div id="space_at_bottom"></div>




</body>
</html>